{% extends 'base.html' %}

{% block content %}

    <h1>Hello World!</h1>
    <p>This is my first flask webpage</p>
    <p>Isn't this cool?!</p>
    <p>My name is {{ first_name }} </p>
    <p>{{ blah|safe }}</p>
    <p>{{ blah|striptags }}</p>
    <p>{{ blah2|title }}</p>

    <h3>Pizza</h3>
    <!-- iterating through a list -->
    {% for topping in pizza %}

        {% if topping == 42 %}
            {{ topping + 100 }} <br>
        {% else %}
            {{ topping }} <br>
        {% endif %}

    {% endfor %}

    <br><br>
    <!-- accessing the first item -->
    {{ pizza.0 }} 

{% endblock %}