{% extends 'base.html' %}

{% block content %}

<!-- defining where our message will appear -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Hey {{ name }} - {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <h1>Hello {{ name }}!!</h1>
    <br>
    <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Image not available!" width="600">
    <br><br>
    <p id="demo">Blah Blah Blah</p>
{% else %}
    <h1>What's your name?</h1>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- label for the input field -->
        {{ form.name.label(class="form-label") }}

        <!-- the name itself -->
        {{ form.name(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}

    </form>

{% endif %}

{% endblock %}